<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.redis.demo.dao.BookDao">
    <resultMap id="BaseResultMap" type="com.test.redis.demo.model.Book">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="price" jdbcType="INTEGER" property="price" />
        <result column="adddate" jdbcType="TIMESTAMP" property="addDate" />
        <result column="updatedate" jdbcType="TIMESTAMP" property="updateDate" />
    </resultMap>
    <select id="query" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        *
        from book
        where id = #{id,jdbcType=BIGINT}
    </select>
    <insert id="save" parameterType="com.test.redis.demo.model.Book" keyProperty="id" useGeneratedKeys="true">
        insert into book (name, price)
        values (#{name,jdbcType=VARCHAR}, #{price,jdbcType=INTEGER})
    </insert>
</mapper>