<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.test.aop.jdk.xml"></context:component-scan>
    <!--apple-->
    <bean id="apple" class="com.test.aop.jdk.xml.Apple"></bean>
    <!--banana-->
    <bean id="banana" class="com.test.aop.jdk.xml.Banana"></bean>
    <!--fruitHandler-->
    <bean id="fruitHandler" class="com.test.aop.jdk.xml.FruitHandler"></bean>

    <aop:config>
        <aop:aspect id="datelog" ref="fruitHandler">
            <aop:pointcut id="eatFruit" expression="execution(* com.test.aop.jdk.xml.Fruit.*(..))" />
            <aop:before method="startEatFruitDate" pointcut-ref="eatFruit" />
            <aop:after method="endEatFruitDate" pointcut-ref="eatFruit" />
        </aop:aspect>
    </aop:config>
</beans>