<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

    <!-- User无参构造器 -->
    <bean id="user" class="com.test.ioc.xml.User"/>
    <!--Order有参构造器-->
    <bean id="order" class="com.test.ioc.xml.Order">
        <constructor-arg index="0" value="201808121706"/>
        <constructor-arg index="1" value="1000"/>
    </bean>
    <!--spring 管理的bean的路径-->
    <context:component-scan base-package="com.test.ioc"></context:component-scan>
</beans>